@font-face {
    font-family: Another Castle;
    src: url(../fonts/another_castle.ttf);
}

@font-face {
    font-family: San Francisco;
    src: url(../fonts/SF.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #d8f5d5;
}

.top_panel {
    width: 100%;
    height: 50px;
    background-color: #15e568;
}

.top_panel_title, .top_panel_text {
    display: inline-block;
}

.top_panel_title {
    padding: 10px 390px 10px 640px;
    font-family: "Another Castle", monospace;
}

.top_panel_img {
    float: right;
    padding: 10px 60px 10px 10px;
    height: 30px;
    width: 30px;
}

.top_panel_text {
    font-family: "Helvetica Narrow", monospace;
    font-weight: 600;
    width: 130px;
    line-height: 1.7;
}

.top_menu, .footer {
    margin: 0 460px;
    width: 1000px;
    height: 40px;
    background-color: darkslategray;
}

.top_menu_element {
    display: inline-block;
    width: 185px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    padding: 10px 0;
    font-family: "Roboto Mono", monospace;
}
.top_menu_element_link {
    color: #9ef1f7;
    text-decoration: none;
}

.top_menu_element_link:hover {
    color: #ffffff;
}

.action_button {
    display: inline-block;
    background-color: #15e568;
    width: 300px;
    height: 30px;
    margin: 20px 800px;
    text-align: center;
    padding: 10px 0;
    font-family: "Helvetica Narrow", monospace;
    font-weight: 900;
    border: 3px solid #000000;
    font-size: 20px;
    color: #000000;
}

.content {
    display: none;
    width: 800px;
    background-color: #15e568;
    opacity: 0.6;
    margin: 0 560px;
    border: 3px solid #000000;
}

.content_element {
    margin: 10px;
}

.content_element_title {
    text-align: center;
    font-family: "Helvetica Narrow", monospace;
}

.content_element_text {
    margin: 20px 10px;
    text-align: justify;
    font-family: "San Francisco", monospace;
}

.wrapper {
    min-height: calc(100vh - 230px);
}

.footer {
    margin-top: 100px;
}

.socials, .copyright {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: #9ef1f7;
    font-family: "Helvetica Narrow", monospace;
    font-weight: 600;
}

.copyright {
    float: right;
}







