@font-face {
    font-family: another_castle;
    src: url(../fonts/another_castle.ttf);
}

* {
    padding: 0;
    margin: 0;
}

.top_panel {
    width: 100%;
    height: 50px;
    background-color: #15e568;
}

.top_panel h1, .top_panel p {
    display: inline-block;
}

.top_panel h1 {
    padding: 10px 440px 10px 640px;
    font-family: "another_castle", monospace;
}

.top_panel img {
    float: right;
    padding: 10px 25px;
    height: 30px;
    width: 30px;
}

.top_panel p {
    font-family: "Helvetica Narrow", monospace;
    font-weight: 600;
    width: 130px;
    line-height: 1.7;
}

.top_menu {
    width: 1000px;
    height: 40px;
    background-color: darkslategray;
    margin: 0 460px;
}

.top_menu_element {
    display: inline-block;
    width: 185px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    padding: 10px 0;
    font-family: "Roboto Mono", monospace;
}
.top_menu_element a {
    color: #9ef1f7;
    text-decoration: none;
}

.top_menu_element a:hover {
    color: #ffffff;
}





